
<mat-card *ngIf="product.photos[0]" class="p-2">
  <mat-card-content>
    <!--    image-->
    <div fxLayout="column" fxLayoutAlign="center" class="square-container">
      <img [src]="product.photos[0].url" class="square" alt="no such photo">

      <!--    <div class="w-100 pb-1" fxLayout="row wrap" fxLayoutAlign="space-around start" style="margin-top: -0.8em">-->
      <!--      <div  class="text-center badge-danger mybadge border-red">{{product.price | currency:'USD':'symbol'}}</div>-->
      <!--      <div *ngIf="promo" style="color: #777777" class="text-center mybadge badge-light"><s>US $2.89</s></div>-->
      <!--    </div>-->

    </div>

    <!--    title-->
    <p [title]="product.title" class="title">{{ product.title }}</p>

    <!--    price-->
    <div class="primary">
      {{product.grossPrice | currency:'USD':'symbol'}}
    </div>

    <!--    promo-->
    <div class="secondary"><s>US $2.89</s> | <span>-99%</span></div>

    <!--    sold-->
    <div class="secondary2">
      {{product.sales}} sold
    </div>

    <!--    Add To Cart-->

  </mat-card-content>
<!--  <mat-card-actions class="pb-2" fxLayoutAlign="center center">-->
<!--    <div class="py-2" *ngIf="addToCart">-->
<!--      <button mat-raised-button color="primary">Add To Cart</button>-->
<!--    </div>-->
<!--  </mat-card-actions>-->
</mat-card>
