<mat-card class="p-0">
  <mat-tab-group class="m-2" mat-align-tabs="start">
    <mat-tab label="Promo">
      <ng2-smart-table (delete)="deletePromo($event)"
                       (create)="createOrEditPromo()"
                       (edit)="createOrEditPromo($event)"
                       [settings]="promoSettings"
                       [source]="promos">
      </ng2-smart-table>
    </mat-tab>

    <mat-tab label="Promo Type">

      <ng2-smart-table (delete)="deletePromoType($event)"
                       (create)="createOrEditPromoType()"
                       (edit)="createOrEditPromoType($event)"
                       [settings]="promoTypeSettings"
                       [source]="promoTypes">
      </ng2-smart-table>
    </mat-tab>
  </mat-tab-group>

</mat-card>
