<!--<div class="container p-3">-->
<!--  <div fxLayout="row" fxLayoutGap="50px">-->
<!--    -->
<!--    -->
<!--  </div>-->
<!--</div>-->
<!--<app-edit-promo></app-edit-promo>-->

<mat-card class="p-0">
  <mat-tab-group class="m-2" mat-align-tabs="start">
    <mat-tab label="Promo">
      <ng2-smart-table (delete)="deletePromo($event)"
                       (create)="toggleCreatePromo()"
                       (edit)="onEdit($event)"
                       [settings]="promoSettings"
                       [source]="promos">
      </ng2-smart-table>
    </mat-tab>

    <mat-tab label="Promo Type">
<!--          <h2>Add promo type</h2>-->
<!--          <app-dynamic-form #promoTypeForm *ngIf="promoTypeFields !== undefined" [fields]="promoTypeFields"></app-dynamic-form>-->
<!--          <button mat-raised-button color="primary" (click)="submitPromoType()">Submit</button>-->
      <ng2-smart-table (delete)="deletePromoType($event)"
                       (create)="toggleCreatePromoType()"
                       (edit)="onEdit($event)"
                       [settings]="promoTypeSettings"
                       [source]="promoTypes">
      </ng2-smart-table>
    </mat-tab>
  </mat-tab-group>

</mat-card>
