ul {
  list-style-type: none;
}
li {
  padding: .3rem 0;
}
a {
  color: unset;
}

.backToTop {
  background: #37475a;
  text-align: center;
  padding: 1.2rem 0;
  color: white;
}
.backToTop:hover {
  background: #3b4b5d;
  cursor: pointer;
}

.footer1 {
  background: #232F3E;
  color: white
}

.footer2 {
  background: #131A22;
  color: white
}

.title {
  font-size: 1.1rem;
  font-weight: bolder;
  padding: .5rem 0;
}

.footerButton {
  border: .5px #3a4553 solid;
  margin: 0 .5rem;
  font-weight: lighter
}

.mat-divider {
  border-top-color: #3a4553;
}

/*
.mat-select-value {
  color: rgba(0,0,222,.87) !important;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: rgba(255,0,0,.12);
}
::ng-deep .mat-select-value{
  color: white!important;  }
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}
*/
