<div fxLayout="row wrap" fxLayoutAlign="start">
  <mat-card fxLayout="column" fxLayoutAlign="space-between center"
            *ngFor="let item of data"
            style="height: 220px;width: 150px"
            class="mat-elevation-z4 rounded my-2 mr-2">
    <img [src]="item.photos[0]?.url" style="max-width: 150px;max-height: 100px; object-fit: contain" alt="no photo">
    <span [matTooltip]="(item.title.length > 27) ? item.title : ''">
    {{item.title | truncateText: [27]}}
    </span>
    <mat-card-actions>
      <button mat-button mat-ripple (click)="removeProductPromo(item)">Remove</button>
    </mat-card-actions>
  </mat-card>
</div>

