<div class="h-100 d-flex justify-content-center">
  <div class="col-12 p-2 overlay-image rounded"
       style="color: white;
              background-image:url('../../../../assets/hotpicks bg.jpg');
              width: 100%">

    <div style="opacity: 1">
      <h4>Welcome newcomers!</h4>
      <h3>US $0.01 hot picks & coupons</h3>
      <span>Get your US $3.00 coupon</span>
      <div fxLayout="row wrap" fxLayoutAlign="space-around">
        <app-product-card *ngFor="let product of products" [product]="product">
<!--                          [width]="productContainer.offsetWidth > 90 * 2.2 ? '90px' : '65px'"-->
<!--                          [height]="'110px'">-->

        </app-product-card>
      </div>
    </div>

  </div>

</div>
