<div style="text-align: center">
  <!--    <button mat-raised-button><mat-icon style="transform: scale(5)">person</mat-icon></button>-->
  <div>
    <button mat-raised-button color="primary" style="width: 4rem;height: 4rem;border-radius: 50px;">
      <span><mat-icon style="transform: scale(2)">person</mat-icon></span>
    </button>
  </div>
  <div class="my-2"><strong>Welcome to Monaim Shop</strong></div>
  <div class="d-flex flex-row justify-content-around">
    <button mat-raised-button class="col mx-3">Sign in</button>
    <button mat-raised-button color="primary" class="col mx-3">Sign up</button>
  </div>
</div>
