  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" style="background: #000000; border-radius: 8px">

<!--      <img src="../../../assets/miniature.jpg" class="img-fluid carousel-item active" alt="...">-->

      <div class="carousel-item active">
        <div class="overlay-image"
             style="background-image:url('../../../assets/miniature.jpg')"></div></div>

      <div class="carousel-item">
        <div class="overlay-image"
             style="background-image:url('../../../assets/miniature.jpg')"></div></div>

      <div class="carousel-item">
        <div class="overlay-image"
             style="background-image:url('../../../assets/miniature.jpg')"></div></div>

      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
