<div class="container-fluid p-0">
  <div class="row m-0 overlay-image"
       style="background-image:url('../../../../assets/promo.jpg')">
    <div class="my-auto pl-2">
      <carousel
        [cellsToScroll]="1"
        [cellsToShow]="5"
        [minSwipeDistance]="5"
        [loop]="true"
        [margin]="0"
        [autoplay]="true"
        [autoplayInterval]="4000"
        [transitionDuration]="800"
        [transitionTimingFunction]="'ease-in-out'"
        [height]="160"
        [width]="600">
        <app-promo-details class="carousel-cell"></app-promo-details>
        <app-promo-details class="carousel-cell"></app-promo-details>
        <app-promo-details class="carousel-cell"></app-promo-details>
        <app-promo-details class="carousel-cell"></app-promo-details>
        <app-promo-details class="carousel-cell"></app-promo-details>
        <app-promo-details class="carousel-cell"></app-promo-details>
        <app-promo-details class="carousel-cell"></app-promo-details>
        <app-promo-details class="carousel-cell"></app-promo-details>
        <app-promo-details class="carousel-cell"></app-promo-details>
        <app-promo-details class="carousel-cell"></app-promo-details>
        <app-promo-details class="carousel-cell"></app-promo-details>
      </carousel>
    </div>

  </div>
</div>
<!--</div>-->
