/*!* You can add global styles to this file, and also import other style files *!*/
html {
  font-size: 12px;
}
*{
  padding: 0;
  margin: 0;
}
button:focus { outline: none; }
.main {background: #f2f2f2}

@media screen and (min-width: 959px) {
  html {
    font-size: 14px;
  }
}
/*  box-sizing: border-box;*/
/*}*/
/*body{*/
/*  height: 100%;*/
/*}*/

/*input.ng-invalid.ng-touched {*/
/*  border: 1px solid red;*/
/*}*/

/*.login,*/
/*.sign-up {*/
/*  background-color: #0079D3;*/
/*  border-color: #0079D3;*/
/*  color: aliceblue;*/
/*  fill: #0079D3;*/
/*  border: 1px solid;*/
/*  border-radius: 4px;*/
/*  text-align: center;*/
/*  letter-spacing: 1px;*/
/*  text-decoration: none;*/
/*  font-size: 12px;*/
/*  font-weight: 700;*/
/*  letter-spacing: .5px;*/
/*  line-height: 24px;*/
/*  text-transform: uppercase;*/
/*  padding: 3px 16px;*/
/*  opacity: 1;*/
/*}*/


.myborder {
  border: red solid 2px;
}

.brd {
  border-radius: 13px;
}

.pointer {
  cursor: pointer;
}

/*::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}*/
/*::ng-deep .mat-form-field-label-wrapper { top: -1.5em !important;}*/

/*::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {*/
/*  transform: translateY(-1.1em) scale(.75) !important;*/
/*  width: 133.33333% !important;*/
/*}*/
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: .5em 0 .5em 0;
}

.mat-form-field-appearance-outline .mat-form-field-label {
  /*top: 1.84375em;*/
  margin-top: -0.7em;
}
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.2em) scale(0.75);
}

/*.mat-form-field-appearance-outline .mat-form-field-wrapper {*/
/*  margin: 0;*/
/*}*/

.mat-form-field-wrapper {
  padding-bottom: 0;
}
/*.mat-form-field-appearance-outline .mat-select-arrow-wrapper {*/
/*  transform: translateY(0) !important;*/
/*}*/
